
<div class="form">
<h1>Create menu</h1>
  <div class="form-input">
    <form action="/menus" method="POST">
      <label>Name</label>
        <input type="text" name="name" required>

        <h2>Add Meals</h2>
        <p>If your meal isn't below, it means it doesn't exist yet. You can save your menu idea and add your meals later.</p>
        <br>

      <% Meal.all.each do |meal| %>
      <label><%= meal.name %></label>
      <input type="checkbox" id="meal_<%=meal.id%>" name="meals[]" value="<%= meal.id %>"><br>
      <% end %><br>
      <input type="submit">
    </form>
  </div>
</div>
