<h1>Menu name</h1>
<a href="/menus/<%= @menu.slug %>"><%= @menu.name %></a>
<br>
<ul>
<% @menu.meals.each do |meal| %>
  <li><%= meal.name %></li>
<% end %>
</ul>
<br>
<a href="/menus/<%= @menu.slug %>/edit">Edit</a>
<a href="/menus">Menus</a>
<a href="/">Go Home</a>
