<div class="form">
  <h3>Sign up and add a new user:</h3>

  <div class="form-input">
    <form action="/signup" method="POST">
      <label>Username</label>
      <input type="text" name="username" required>
      <label>Email</label>
      <input type="text" name="email" required>
      <label>Create a password</label>
      <input type="password" name="password" required>
      <label>Your role</label>
        <select required>
          <option value="team member" selected>Team member</option>
          <option value="manager" selected>Manager</option>
        <select>
      <input type="submit">
    </form>
  </div>
</div>
