<div class="form">
  <h3>Sign up and add a new user:</h3>

  <div class="form-input">
    <form action="/signup" method="POST">
      <label>Username</label>
      <input type="text" name="username" required>
      <label>Email</label>
      <input type="text" name="email" required>
      <label>Create a password</label>
      <input type="password" name="password" required>
      <label>Your role</label>
      <input type="radio" name="role" value="manager">
      <label for="manager">Manager</label>
      <input type="radio" name="role" value="team member">
      <label for="team member">Team member</label>
      <input type="submit">
    </form>
  </div>
</div>
