<div class="form">
  <h1>Log In</h1>
  <% if flash[:user_signup] %>

  <p> <%= flash[:user_signup] %> </p>
  <a href="/signup" class="small-button">Create a user</a>
  <% end %>
  <div class="form-input">
    <form method="POST" action="/login">
      <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
      <input type="submit" value="submit">
    </form>
  </div>
</div>
