<h3>Create meal</h3>
<form action="/meals" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="textarea" name="ingredients"></p>
  <p>Method: <input type="textarea" name="method"></p>
  <input type="submit">
</form>
