<div class="form">
  <h1>Create meal</h1>
  <div class="form-input">
    <form action="/meals" method="POST">
      <label>Name</label>
      <input type="text" name="name">
      <label>Ingredients</label>
      <textarea name="ingredients"></textarea>
      <label>Method</method>
      <textarea name="method"></textarea>
      <input type="submit">
    </form>
  </div>
</div>
