<h1>Meal name</h1>
<a href="/meals/<%= @meal.slug %>"><%= @meal.name %></a>
<br>

<a href="/meals/<%= @meal.slug %>/edit">Edit</a>
<a href="/meals">See all the meals</a>
<a href="/menus">See all the menus</a>
<a href="/">Go Home</a>
