<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MenuCMS Homepage</title>
</head>

<body>
<h1>Hi, welcome on MenuCMS!</h1>
<p>Please, sign in to see the options:</p>
<a href="/signin">Sign In</a>
<p>If you don't already have an account, you will have to register:</p>
<a href="/signup">Sign Up</a>
</body>

</html>
