<div class="main-page">
  <div id="welcome">
    <h1>Hi, welcome on Menu CMS</h1>
      <p>You can either:</p>
      <div class="selector">
          <div class="big-button">
            <p>Create a menu</p>
          </div>
          <div class="big-button">
            <p>Create a meal<</p>
          </div>
      </div>
      <p>Or</p>
      <div class="selector">
        <div class="full-button">
        <p>View all menus</p>
        </div>
        <div class="full-button">
          <p>View all menus</p>
        </div>
      </div>
  </div>

</div>
