<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<meta charset="UTF-8">
<title>MenuCMS</title>

</head>

<body>
  <nav>
    <ul>
      <% if logged_in? %>
      <p>Welcome, <%=current_user.username %></p>
      <li><a class="active" href="/">Restaurant Page</a></li>
      <li><a href="/menus/create-menu"> Create a menu </a></li>
      <li><a href="/meals/create-meal"> Create a meal </a></li>
      <li><a href="/logout"> Log Out </a></li>
      <% else %>
      <li><a href="/signup">New team member</a></li>
      <li><a href="/login"> Log in </a></li>
      <%end %>
    </ul>
  </nav>
  <div class="container">
      <%= yield %>
  </div>
</body>

</html>
